/.idea
/.venv
/data
/trash_data
Dor/talkWithGpt.md
.firebase/
.firebaserc
WeatherNet Website/weathernet/package-lock.json
node_modules
/node_modules
package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
/venv
/backend/__pycache__
/backend/Model_Pytorch/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/common/__pycache__
/backend/Model_Pytorch/RNN_Model_our_data/__pycache__
/backend/Model_Pytorch/AdvancedModel/__pycache__
data code files/__pycache__/constantsParams.cpython-311.pyc
data code files/__pycache__/import_and_process_data.cpython-311.pyc
/WeatherNet Website/weathernet-server/venv
/backend/Model_Pytorch/AdvancedModel/dor_output
backend/Model_Pytorch/AdvancedModel/output/Afula Nir Haemeq.csv
backend/Model_Pytorch/AdvancedModel/output/Afula Nir Haemeq.pkl
backend/Model_Pytorch/AdvancedModel/output/Eden Farm.csv
backend/Model_Pytorch/AdvancedModel/output/Eden Farm.pkl
backend/Model_Pytorch/AdvancedModel/output/En Hashofet.csv
backend/Model_Pytorch/AdvancedModel/output/En Hashofet.pkl
backend/Model_Pytorch/AdvancedModel/output/Eshhar.csv
backend/Model_Pytorch/AdvancedModel/output/Eshhar.pkl
backend/Model_Pytorch/AdvancedModel/output/Newe Yaar.csv
backend/Model_Pytorch/AdvancedModel/output/Newe Yaar.pkl
backend/Model_Pytorch/AdvancedModel/output/Tavor Kadoorie.csv
backend/Model_Pytorch/AdvancedModel/output/Tavor Kadoorie.pkl
/data_old
backend/Model_Pytorch/AdvancedModel/output/Yavneel.pkl
backend/Model_Pytorch/AdvancedModel/output/Yavneel.csv
WeatherNet Website/weathernet-server/__pycache__/constantsParams.cpython-311.pyc
/backend/Model_Pytorch/AdvancedModel/output/0_12/__pycache__
/backend/Model_Pytorch/AdvancedModel/output/12_24/__pycache__
/backend/Model_Pytorch/AdvancedModel/output
/Backend/.idea
/backend/Model_Pytorch/AdvancedModel/models/12_24/__pycache__
/Backend/Model_Pytorch/AdvancedModel/models/1_12/__pycache__
/Backend/Model_Pytorch/AdvancedModel/models/24_36/__pycache__
*.pyc
