/.idea
/.venv
/data
/trash_data
Dor/talkWithGpt.md
.firebase/
.firebaserc
WeatherNet Website/weathernet/package-lock.json
node_modules
/node_modules
package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
/venv
/backend/__pycache__
/backend/Model_Pytorch/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/RNN_Model/__pycache__
/backend/Model_Pytorch/common/__pycache__
/backend/Model_Pytorch/RNN_Model_our_data/__pycache__
/backend/Model_Pytorch/AdvancedModel/__pycache__
data code files/__pycache__/constantsParams.cpython-311.pyc
