/.idea
/.venv
/data
/trash_data
Dor/talkWithGpt.md
.firebase/
.firebaserc
WeatherNet Website/weathernet/package-lock.json
node_modules
/node_modules
package-lock.json
WeatherNet Website/weathernet/package-lock.json
WeatherNet Website/weathernet/package-lock.json
